<div class="container">
    <div class="jumbotron jumboMod">
      
      <h1 class="display-1 text-center">Mision Y Vision</h1>
      <em><h4 class="display-4 text-center">A cosmic force</h4></em>
      <div class="card">
        <img class="img-responsive card-img-top" src="#">
        <div class="card-body">
          <p class="card-text text-center">The scientist wanted to bring the story of the universe to the masses with his best-selling book A Brief History of Time</p>
        </div>
      </div>
      <div>
      <h4 class="text-center timelineTitleMod">Here is a brief timeline of Stephan Hawkings life</h4>
        <div class="row">
          <div class="col-md-12 text-center">
        <ul class="listMod text-left">
          <li><b>1942</b> - Stephen Hawking is born in Oxford, England.</li>
          <li><b>1959</b> - At 17 he began studying physics.</li>
          <li><b>1962</b> - Receives first-class honors degree.</li>
          <li><b>1963</b> - Meets his future wife.</li>
          <li><b>1963</b> - He is diagnosed with ALS just shy of 21.</li>
          <li><b>1965</b> - He marries his wife and has three children.</li>
          <li><b>1965</b> - He writes his thesis on space-time singularity.</li>
          <li><b>1969</b> - Health worsens and begins using crutches.</li>
          <li><b>1970</b> - He discovers hole dynamics</li>
        </ul>
            <blockquote class="blockquote text-center">
    <p class="mb-0">Look up at the stars and not down at your feet. Try to make sense of what you see, and wonder about what makes the universe exist. Be curious.</p>
    <footer class="blockquote-footer"><cite title="Source Title">Stephan Hawking</cite></footer>
  </blockquote>
          <h4>If you have time read more about this incredible human being <a href="https://en.wikipedia.org/wiki/Stephen_Hawking">here</a> </h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
