<div id="first" class="panel">
    <div id="text" class="panel-item">
      <div class="caption">
        Empresa.<hr>
      </div>
      
      <div class="description">
        Gallia est divisa in omnes tres. 
      </div>
    </div>
    
    <div class="triangle-right"></div>
  
  <div id="image-first" class="panel-item"></div>
  </div>
  
  <div id="intro" class="panel">
    <div id="text">
      <div class="caption"> Make a big statement.<hr></div>
      <div class="description"> Supply information and draw users in. Compel them to scroll down!</div>
    </div>
  </div>
  
  <div id="second" class="panel">
    <div id="image-second" class="panel-item"></div> 
    
    <div id="text" class="panel-item">
      <div class="caption">
        Announcement.<hr>
      </div>
      <div class="triangle-left"></div>
      
      <div class="description">
        Like the swarms of clustering bees that issue forever
  in fresh bursts from the hollow in the stone.
      </div>
      
    </div>
  </div>