body {
  background-color: #d4d4d4;
  margin: 0;
  padding: 0;
}

.panel {
  height: 400px;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#intro {
  height: 350px;
}

#first {
  /* Your styling here */
}

#second {
  flex-flow: row wrap-reverse;
}

.panel-item {
  width: 50vw;
}

#text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

#image-first {
  background-image: url(https://pbs.twimg.com/media/Es2giwQW4AgqosG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#image-second {
  background-image: url(https://pbs.twimg.com/media/Es2giwQW4AgqosG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* triangle classes. Equilateral => width=0.866*height. The positioning & negative margins are based on width of visible border to center the triangle between the two columns and not disrupt the flex-flow.  */
.triangle-right {
  position: relative;
  width: 0; height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 46px solid #fff;
  top: 50%;
  left: 46px;
  margin-top: -40px;
  margin-left: -46px;
}

.triangle-left {
  position: relative;
  width: 0; height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 46px solid #fff;
  right: 46px;
  margin-top: -46px; margin-bottom: -46px;
}

.caption {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 10%;
}

.description {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  padding: 0 10%;
}

hr {
  width: 20vw;
  height: 0;
  border: solid 2px #425F57;
}

#intro hr {
  width: 30vw;
  border: double 1px #000;
}

#intro {
  background: #A8E890;
}


@media (max-width: 648px) {
  .panel-item {
    width: 100vw;
  }
  .triangle-left, .triangle-right {
    display: none;
  }
}


.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.grap1, .grap2, .grap3 {
  height: 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  box-shadow: none;
}

.dashboard, .dashboard2, .dashboard3 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard, .dashboard3 {
  display: flex;
}

.auxiliarity {
  color: rgb(147, 222, 255);
}

.card, .card2, .card3 {
  text-align: center;
  box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.486);
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.card2 {
  width: 65%;
  height: 30%;
}

.card3 {
  width: 32%;
  height: 30%;
}

.card {
  width: 32%;
  height: 30%;
}

.titulo-card {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}