.boton-cerrar-contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-radius: 5%;
}
.boton-cerrar{
    background-color: #425F57;
    color: white;
}
.boton-cerrar:hover{
    background-color:#749F82;
    color: white;
}