
<body>
	
	
	<div class="container" id="container" >
		<div class="container" id="container" [ngClass]="{ 'right-panel-active': showPanel }">
		<div class="form-container sign-up-container" >
			<form action="#">
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<input type="text" placeholder="Nombre" />
				<input type="email" placeholder="Correo" />
				<input type="text" placeholder="Clave" />
				<input type="text" placeholder="Numero de identificación" />
				<input type="text" placeholder="Dirección" />
				<input type="text" placeholder="Codigo Postal" />
				<input type="text" placeholder="Numero Celular" />
				<p></p>
				<button>Registrar</button>
			</form>
		</div>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" placeholder="Correo" formControlName="username"/>
						<mat-error *ngIf = "loginForm.controls['username'].hasError('required')"> 
							
						</mat-error>
						<input type="password" placeholder="Clave" formControlName="password" />
						<mat-error *ngIf = "loginForm.controls['password'].hasError('required')"> 
							
						</mat-error>
			<a href="#">Forgot your password?</a>
			<button type="submit">Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Registrate!</h1>
				<p>Registra tu información para disfrutar de nuestros servicios</p>
				<button (click)="signIn()" class="ghost" id="signIn">Ingresar</button>
			</div>
			<div class="overlay-panel overlay-right" >
				<h1>Bienvenido!</h1>
				
				<p>Ingresa para disfrutras de nuestras opciones</p>
				<button (click)="signUp()" class="ghost" id="signUp">Registrar</button>
			</div>
		</div>
	</div>
	</div>

</body>